.ticketmn_pack {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.status {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.463rem;
}

.status.used {
    color: #919DBA;
    border: 1px solid currentColor;
    background-color: #EAF1F8;
}

.status.expired {
    color: #FD5959;
    border: 1px solid currentColor;
    background-color: #F8EBE8;
}

.status.not_used {
    color: #03AC00;
    border: 1px solid currentColor;
    background-color: #DEF7E0;
    
}