.ticketmn {
    display       : flex;
    flex-direction: column;
}

.ticketmn_pack-options{
    margin-bottom  : 2.4rem;
    display        : flex;
    justify-content: flex-start;
    gap            : 5rem;
}

.ticketmn_pack-option {
    position   : relative;
    cursor     : pointer;
    font-size  : 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.ticketmn_pack-option.actived::before {
    content         : '';
    position        : absolute;
    top             : calc(100% + 4px);
    left            : 0;
    height          : 4px;
    width           : 100%;
    background-color: #FF993C;
    border-radius   : 7px;
    animation       : packline 0.25s linear;
}

@keyframes packline {
    from {
        opacity         : 0;
        width           : 0;
        transform-origin: left;
    }

    to {
        opacity         : 1;
        width           : 100%;
        transform-origin: left;
    }
}



