.setting {
    display       : flex;
    flex-direction: column;
}

.setting_content {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.setting_update-btn {
    border          : 1px solid transparent;
    border-radius   : 4px;
    color           : #FF993C;
    background-color: transparent;
    padding         : 2px 4px;
    display         : flex;
    gap             : 1rem;
    justify-content : space-between;
    align-items     : center;
    font-size       : 1.4rem;
    line-height     : 2.2rem;
    cursor          : pointer;
    transition      : all 0.25s ease-in-out;
}

.setting_update-btn:hover {
    border: 1px solid #FF993C;
}