@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Fjalla+One&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;500;600;700&display=swap');

:root {
  --text-color: #1E0D03;
  --bg-color  : #F9F6F4;
}

* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align : center;
  font-family: 'Montserrat', sans-serif;
  list-style : none;
  min-height : 100vh;
}

.App {
  min-height      : 100vh;
  display         : flex;
  gap             : 3.6rem;
  padding         : 1.7rem 3.2rem 3.2rem;
  background-color: var(--bg-color);
}

.nav {
  width: 20%;
}

::placeholder {
  color: rgb(30, 13, 3, 0.3);
}

@keyframes layoutAnimation {
  0% {
    opacity  : 0;
    transform: translateY(-50%);
  }

  70% {
    opacity  : 1;
    transform: translateY(10%);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

/* min-height = min-height App - total padding */
.main_container {
  width         : 80%;
  height        : 100%;
  min-height    : calc(100vh - 4.9rem);
  display       : flex;
  flex-direction: column;
}

.main_content {
  background-color: #fff;
  padding         : 2.4rem;
  border-radius   : 2.4rem;
  flex            : 1;
}

.content_header {
  font-size    : 3.6rem;
  font-weight  : 700;
  line-height  : 5.4rem;
  color        : var(--text-color);
  text-align   : left;
  margin-bottom: 1.5rem;
}

/* content nav */
.content_nav {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-bottom  : 3rem;
}

.content_nav-option {
  display: flex;
  gap    : 1rem;
}

.content_nav-filter,
.content_nav-export,
.content_nav-check {
  height          : 4.8rem;
  padding         : 1.1rem 2.4rem;
  color           : #FF993C;
  background-color: transparent;
  border          : 1px solid currentColor;
  border-radius   : 6px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  gap             : 1rem;
  font-size       : 1.8rem;
  font-weight     : 700;
  line-height     : 2.6rem;
  cursor          : pointer;
}

.content_nav-check {
  background-color: #FF993C;
  color           : #fff;
}

.content_nav-filter svg {
  width : 24px;
  height: 24px;
}

.content_nav-filter:active,
.content_nav-export:active {
  transform: translateY(2px);
}